<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/style.css 
</head>
<body>
    <nav>
        <ul>
            <li ><a href="/">home</a></li>
            <li><a href="/">contact</a></li>
            <li><a href="/">about</a></li>
        </ul>
    </nav>
    <div class ="container">
    <h2>Get this gym membership for 60$ - fill this form now!</h2>
      <!-- <p> 
            | #{content}  khdaiofh kjhfaoihaw ooahfiohafh oiahfif</p> -->
   
    <form action="/" method ="post" id="contact">
    <input type ="text" name = "name" id ="name" placeholder ="enter your name">
    <input type ="text" name = "age" id ="age" placeholder ="enter your age">
    <input type ="text" name = "gender" id ="gender" placeholder ="enter your gender">
    <textarea name ="address" id = "address" cols ="30" rows ="10" placeholder="enter your address"></textarea>
    <textarea name ="more" id = "more" cols ="30" rows ="10" placeholder="more about you"></textarea>
<button class="btn">submit</button>
</form>
   
    </div>
</body>
</html>